<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <title>weather</title>
</head>
<body>

    <!--Nav Bar-->
    {{>navbar}}


    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class='row'>
                    <!--left side div-->

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure class="about_img">
                                <img src="images/about.png" alt="about me" class="img-fluid" title="NK World">
                            </figure>
                            
                    </div>

                    

                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span>web developer.</span> I am graduated from LPU</h1>
                        <a href="https://www.linkedin.com/in/nitish-yadav-19b250195/" target="_blank"><button>About me</button></a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    {{>footer}}

</body>
</html>